*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background-color: rgb(180, 255, 255);
    padding-top: 3.5%;

}
header{
    width: 100%;
}
.nav{
    position:fixed;
    top: 0;
    width: 100%;
    background-color: rgb(2, 33, 52);
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}

.logo {
    color: rgb(91, 222, 222);
    border-right: 3px solid white;
    width: 15%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;

}

.nav-bar{
    width: 70%;
    display: inline;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: rgb(91, 222, 222);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
    border-bottom: 1px solid white;

}


.topimage{
    background: url(images/top2.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
       
}

.main-h{
    font-size: 50px;
    text-align: center;
    border-left: 10px solid;
    margin: auto;
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 2.5%;
    gap: 50px;
    padding-bottom: 10%;

}

.sub-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: px solid rgb(5, 5, 58);
    border-bottom: 5px solid rgb(5, 5, 58);
    padding-bottom: 10%;
    padding-top: 5%;

}

.type{
    color: rgb(2, 33, 52);
    width: 30%;
    height: 100%;
    text-align: justify;
    border: px solid rgb(8, 8, 79);
    border-radius: 5px;

}

.image-map{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img img{
    width: 30%;
    height: 100%;
}

.map{
    width: 100%;
    height: 45%;
}

.Category-h{
    font-size: 30px;
    border-left: 5px solid;
}

.Category-c{
    font-size: 20px;
}

/* -----------------------------Table----------------------------------- */

table {
    border-collapse: collapse;
    width: 90%;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-bottom: 10%;
    font-size: 20px;
  }

  tfoot td{
    background-color: #21377d;
    
  }
  
  th, td {
    border:  solid #dddddd;
    padding: 8px;
    text-align: left;
    width: fit-content;
    height: fit-content;

  }
  
  th {
    background-color: #21377d;
    font-weight: bold;
    width: 30%;
    color: #dddddd;
  }
  
  td{
    background-color: #020c2b;
    color: #ffffff;

  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
 

  table ul{
    padding: 6%;
  }
  


/* ---------------------------footer---------------------- */

footer {
    display: flex;
    flex-direction: row;
    color:rgb(180, 253, 253);
    padding: 30px;
    background-color: rgb(4, 34, 52);
    justify-content: space-evenly;
}


footer a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(180, 253, 253);
    margin-top: 35px;
    padding-left: 0px;
    
}

footer ul li{
    list-style-type: none;
    padding-top :15px; 
    font-size: 10px;
}

.link{
    width: 20%;
    height: fit-content;
    text-align: left;
    border-right: 1px solid white;
}
.link p{
    font-size: 20px;
}

.cright{
    width: 30%;
    height: fit-content;
    display: grid;
    text-align: center;
    margin: auto;
}


.contact{
    width: 30%;
    justify-content: right;
    padding-left: 10%;
    border-left: 1px solid white;
    
}

.contact p{
    font-size: 20px;

}
.email{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 3%;
    margin-top: 5px;
}

footer a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
}

@media only screen and (max-width:1000px){
    body{
        
        padding-top: 19%; 
   }
   .logo{
       display: grid;
       align-items: center;
       width: 100%;
       height: 40px;
       font-size: 10px;
       padding-top: 0px;
       text-align: center;
       border-bottom: 2px solid white;
       border-right: none;
       float: none;
   }
   .nav{  
       position: absolute;
       font-size: 10px;  
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0%;
       padding: 0px;
       
   }

   nav ul li{
       padding: 5px 5px;
   }
   nav ul{
       text-align: center;
   }
   .nav-bar{
       width: 100%;
       border-bottom: 0px solid white;
   }

   /*---------------------------- TOP img ----------------------*/

   .topimage{
       width: 100%;
        height: 20vh; 
       font-size: 25px;
   
   }
    
/* ----------------------------------------------------------------- */

    .main-h{
        font-size: 40px;
        border-left: 7px solid;

    }
    
    .main{
        width: 90%;
       
    
    }
    
    .sub-main{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    
    }
    
    .type{
        width: 90%;
    }
    
    .image-map{
        width: 90%;
        gap: 20px;
    }
   
    
    .map{
        width: 100%;
        height: 45%;
    }
    
    .Category-h{
        font-size: 30px;
        border-left: 5px solid;
    }
    
    .Category-c{
        font-size: 20px;
    }
    /*--------------------------------------Table-----------------------------------------  */

    table {
        font-size: 10px;
      }
      
  
    
      
      
      table ul{
        padding: 10px;
      }

      

/* -----------------------------------------FOOTER---------------------------- */

footer{
    display: flex;
    flex-direction: row;
    color: rgb(180, 253, 253);
    padding: 10px;
    background-color: rgb(4, 34, 52);
    justify-content: space-evenly;
}

footer a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(180, 253, 253);
    margin-top: 35px;
    padding-left: 0px;
    
}

footer ul li{
    list-style-type: none;
    padding-top :10px; 
}

.link{
    width: 30%;
    height: fit-content;
    text-align: left;
    border-right: 1px solid white;
}
.link p{
    font-size: 20px;
}

.cright{
    width: 30%;
    height: fit-content;
    display: grid;
    text-align: center;
}


.contact{
    width: 30%;
    justify-content: right;
    padding-left: 5%;
    border-left: 1px solid white;
    
}

.contact p{
    font-size: 20px;
}
.email{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 3%;
    margin-top: 5px;
}

footer a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
}

@media only screen and (min-width: 447px) and (max-width: 1024px) {
    /* CSS styles for tablet screens */
    
    body{
      padding-top: 6%;
    }
  }

}