/* Reset some default styles */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:  rgb(2, 33, 52);
    font-size: 15px;
    


}

.nav{
    top: 0;
    /* width: 100%; */
    background-color: rgb(2, 33, 52);
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}

.logo {
    color: rgb(91, 222, 222);
    border-right: 3px solid white;
    width: 15%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;

}

.nav-bar{
    width: 70%;
    display: inline;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: rgb(91, 222, 222);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
    border-bottom: 1px solid white;

}


/* Header styles */
.header {
    background-color: rgb(255, 255, 255);
    color:  rgb(2, 33, 52);
    text-align: center;
    padding: 20px;
    
    
}

/* Main container styles */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    
}

.section-1{
    width: 45%;
    height: fit-content;
    margin:  auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-2{
    width: 45%;
    height: fit-content;
    margin: auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Date picker styles */
.date-picker {
    width: 100%;
    
}

.date-picker input[type="date"] {
    width: 40%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 14px;
}

/* Time slot styles */
#timeslot {
    margin-top: 1rem;
}

.timeslot ul {
    list-style-type: none;
    padding: 0;
}

.timeslot li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 1px 1px 2px #ddd;
    
}

/* Ticket type styles */
.Guests-form {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute items equally */
}

.Guests-form button,
.Guests-form input[type="number"] {
    width: 25%; /* Set a percentage width for buttons and number input */
    height: 30px; /* Adjust the height for smaller buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem; /* Adjust font size for smaller buttons */
}

.Guests-form input[type="number"] {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 30%; /* Adjust width of the number input */

}

.ticket-wrapper{
    width: 90%;
    margin: auto;
}

.ticket-section{
    display: flex;
    justify-content: space-between;
}





/* Purchase summary styles */
table {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
}

th{
    font-size: 15px;
    font-style: bold;
    text-align: left;
    font-weight: bold;

}

td{
    font-size: 15px;
    color: rgb(2, 33, 52);
}

.footer-row {
    background-color:rgb(2, 33, 52);
    font-weight: bold;
    color: rgb(91, 222, 222);;
}

.ticket-name-type{
    width: 45%;
    /* margin: auto; */
}

/* Continue button styles */
button[type="button"] {
    width: 25%;
    display: block;
    /* margin: 1rem auto; */
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 25px;
    background-color: rgb(2, 33, 52);
    color: rgb(91, 222, 222);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="button"]:hover {
    background-color: #2980b9;
}

.purchase-button{
    width: auto;
    padding: 10px;
    background-color: rgb(2, 33, 52);
    border-radius: 5px;
    color: rgb(91, 222, 222);
    cursor: pointer;
    
}

.purchase-button:hover{
    color: white;
}


/* ---------------------------footer---------------------- */

footer {
    display: flex;
    flex-direction: row;
    color:rgb(180, 253, 253);
    padding: 30px;
    background-color: rgb(4, 34, 52);
    justify-content: space-evenly;
}


footer a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(180, 253, 253);
    margin-top: 35px;
    padding-left: 0px;
    
}

footer ul li{
    list-style-type: none;
    padding-top :15px; 
    font-size: 10px;
}

.link{
    width: 20%;
    height: fit-content;
    text-align: left;
    border-right: 1px solid white;
}
.link p{
    font-size: 20px;
}

.cright{
    width: 30%;
    height: fit-content;
    display: grid;
    text-align: center;
    margin: auto;
}


.contact{
    width: 30%;
    justify-content: right;
    padding-left: 10%;
    border-left: 1px solid white;
    
}

.contact p{
    font-size: 20px;

}
.email{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 3%;
    margin-top: 5px;
}

footer a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
}





@media only screen and (max-width:1000px){

    .body{
        width: 100%;
        
    }

    .logo{
        display: grid;
        align-items: center;
        width: -webkit-fill-available;
        height: 40px;
        font-size: 10px;
        padding-top: 0px;
        text-align: center;
        border-bottom: 2px solid white;
        border-right: none;
        float: none;
    }
    .nav{  
        /* position: ; */
        font-size: 10px;  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0px;
        
    }

    nav ul li{
        padding: 5px 5px;
    }
    nav ul{
        text-align: center;
    }
    .nav-bar{
        width: 100%;
        border-bottom: 0px solid white;
    }

    .main{
        width: 95%;
        flex-direction: column;
        margin: auto;
    }

    .section-1{
        width: auto;
        margin: 0%;
    }

    .section-2{
        width: auto;
        margin: 0%;
    }

    .Guests-form{
        justify-content: space-around;
        width: 50%;
    }

    .Guests-form button,
    .Guests-form input[type="number"] {
    width: 20%; /* Set a percentage width for buttons and number input */
    height: 30px; /* Adjust the height for smaller buttons */
    display: block;
}

footer{
    display: flex;
    flex-direction: row;
    color: rgb(180, 253, 253);
    padding: 10px;
    background-color: rgb(4, 34, 52);
    justify-content: space-evenly;
}

footer a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(180, 253, 253);
    margin-top: 35px;
    padding-left: 0px;
    
}

footer ul li{
    list-style-type: none;
    padding-top :10px; 
}

.link{
    width: 30%;
    height: fit-content;
    text-align: left;
    border-right: 1px solid white;
}
.link p{
    font-size: 20px;
}

.cright{
    width: 30%;
    height: fit-content;
    display: grid;
    text-align: center;
}


.contact{
    width: 30%;
    justify-content: right;
    padding-left: 5%;
    border-left: 1px solid white;
    
}

.contact p{
    font-size: 20px;
}
.email{
    width: 90%;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 10px;
}
textarea{
    width: 90%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 3%;
    margin-top: 5px;
}

footer a:hover{
    color: rgb(223, 232, 229);
    transition: .3s;
}


}